body,
html {
  height: 100%;
  margin: 0;
}

.divRegister {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-top: 160px;
  padding-bottom: 25px;
}

.divPlaceEmail {
  margin-bottom: 20px;
}

.divPlaceSenha {
  margin-bottom: 20px;
}

.divEsqueceu {
  text-align: start;
}
.divEsqueceu a {
  color: #0756ff;
  text-decoration: none;
  font-weight: 550;
  font-size: 15px;
}

input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #5d5c5d;
  background-color: #d8d9d8;
}

input:hover {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #0c8ce9;
  border-radius: 5px;
}

h1 {
  margin-bottom: 20px;
}

.divBotao {
  margin-top: 50px;
}

.divBotao button {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  color: white;
  background-color: black;
  font-size: 18px;
  border: none;
}
.divBotao button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.divRegister p {
  font-weight: 545;
  font-size: 17px;
}

.divRegister a {
  text-decoration: none;
  color: #0756ff;
  font-weight: 550;
}
