<div class="divRegister">
  <h1>Login</h1>
  <div>
    <form (submit)="onSubmit()" #f="ngForm">
      <div class="divPlaceEmail">
        <input
          type="text"
          placeholder="E-mail"
          [(ngModel)]="user"
          [ngModelOptions]="{ standalone: true }"
          [pattern]="emailPattern"
          required
        />
      </div>
      <div class="divPlaceSenha">
        <input
          type="password"
          placeholder="Senha"
          [(ngModel)]="password"
          [ngModelOptions]="{ standalone: true }"
          [pattern]="passwordPattern"
          required
        />
      </div>
      <div class="divBotao">
        <button type="submit" [disabled]="!f.valid">Enviar</button>
      </div>
    </form>
    <div class="divRegister">
      <p>Não tem login ainda? <a routerLink="/register">Registre-se</a></p>
    </div>
  </div>
</div>
