<!-- Register -->
<!--<app-login></app-login> 
 -->

<!-- Login -->
<app-header ngSkipHydration></app-header>
<main>
    <router-outlet></router-outlet>
</main>
<app-footer ngSkipHydration></app-footer>

<!-- Password Reset -->
<!-- <app-header-reset></app-header-reset><app-body-reset></app-body-reset
><app-footer-reset></app-footer-reset> -->

<!-- Perfil -->

<!-- <app-header-perfil></app-header-perfil><app-body-perfil></app-body-perfil
><app-footer-perfil></app-footer-perfil> -->

<!-- Single Filme -->

<!-- <app-header-single-filme></app-header-single-filme
><app-body-single-filme></app-body-single-filme
><app-footer-single-filme></app-footer-single-filme> -->

<!-- Home -->
