<body>
  <div class="perfil">
    <div class="perfilEsquerda">
      <div class="profileIcon">
        <img src="../../../../../assets/perfilSemBack.png" alt="" />
      </div>
      <div class="buttonEsquerda">
        <button class="btn btn-primary" routerLink="/home">Sair</button>
      </div>
    </div>
    <div class="perfilH1">
      <h1>Perfil</h1>
    </div>
    <div class="dadosPerfil">
      <div class="dadosPerfilH2">
        <h2>Nome</h2>
        <p>{{user}}</p>
      </div>
      <div class="dadosPerfilEmail">
        <h2>E-mail</h2>
        <p>{{email}}</p>
      </div>
      <div class="dadosPerfilAssistidos">
        <h2>Id</h2>
        <p>{{id}}</p>
      </div>
      <div class="dadosPerfilLista">
        <h2>Senha</h2>
        <p>{{password}}</p>
      </div>
    </div>
  </div>
</body>
