* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #525252;
    color: black;
    padding: 15px 40px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.8px solid #2a2b2a;
    max-width: 100%;
    min-width: 944px;
}

.navHeader img {
    height: 50px;
    width: auto;
}

.HeaderDireita {
    margin-left: auto;
}

.HeaderDireita a {
    margin-right: 20px;
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.HeaderDireita a:hover {
    font-size: 22px;
    text-decoration: none;
    color: white;
}

.divLista a {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

.divLista a:hover {
    font-size: 22px;
    text-decoration: none;
    color: white;
}