.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  padding: 20px;
  padding-bottom: 236px;
}

.filtros {
  width: 250px;
  background-color: #9d9c9d;
  padding: 20px;
  border-radius: 8px;
  margin-right: 20px;
}

.filtros h1 {
  font-size: 24px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filtros h1 img {
  width: 20px;
  height: 20px;
}

.filtros h2 {
  color: white;
  font-size: 18px;
  margin: 10px 0;
}

.filtros .generos,
.filtros .terror,
.filtros .comedia,
.filtros .romance,
.filtros .drama,
.filtros .acao {
  background-color: #9d9c9d;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.filtros .generos:hover,
.filtros .terror:hover,
.filtros .comedia:hover,
.filtros .romance:hover,
.filtros .drama:hover,
.filtros .acao:hover {
  background-color: #7a7a7a;
}

.filmes {
  flex: 1;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.filmes h1 {
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}
